//
// list component for sidebar skeleton
//

@use "../utils/index" as utils;
@use "sidebar-skeleton-compostrap/src/scss/utils/index" as var;

.list {
  width: var.$sm-width;
  font-size: .938rem;

  & &-hidden {
    display: none;
    overflow: hidden;
    padding: .625rem 0 .625rem 1.563rem;

    & .list-hidden {
      padding-left: .75rem;
    }
  }

  &-hidden &-link {
    line-height: 1.875rem;
  }

  &-item {
    padding: 0;
    margin-top: .625rem;
    line-height: 2.25rem;
  }

  &-title {
    margin-bottom: 0;
    margin-left: 1.063rem;
    letter-spacing: .063rem;
    font-size: .75rem;
  }

  &-link {
    display: block;
    padding: 0 .625rem 0 1.188rem;
    margin: 0;
    text-decoration: none;
    &:hover {
      .bell {
        animation: bell-shake .5s cubic-bezier(.36,.07,.19,.97) both;
        backface-visibility: hidden;
        transform-origin: top right;
      }
    }
  }

  @keyframes bell-shake {
    0% { transform: rotate(0); }
    15% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    45% { transform: rotate(4deg); }
    60% { transform: rotate(-4deg); }
    75% { transform: rotate(2deg); }
    85% { transform: rotate(-2deg); }
    92% { transform: rotate(1deg); }
    100% { transform: rotate(0); }
  }

  &-icon {
    width: 1.563rem;
    display: inline-block;
  }

  .link-current {
    font-weight: 600;
  }
}

// arrow icon up and down in menu
.link-arrow:before {
  font-family: utils.$font-awesome, sans-serif;
  font-weight: 600;
  font-size: .75rem;
  margin-right: .313rem;
  float: right;
}

.link-arrow.up:before {
  content: "\f105";
}

.link-arrow.down:before {
  content: "\f107";
}

.link-arrow.transition:before {
  transition: 0.2s all;
}

.link-arrow.rotate:before {
  transform: rotate(90deg);
}

.link-arrow.rotate-revert:before {
  transform: rotate(-90deg);
}
