//
// sidebar menu layout
//

.sidebar {
  min-height: calc(100vh - #{$sm-top});
  margin-left: - $sm-sidebar;
  transition: margin 0.15s ease-out;
  @include border-top-right-radius($border-radius);
  @include media-breakpoint-up('md') {
    margin-left: 0;
  }
}

.sidebar-toggle .sidebar {
  margin-left: 0;
  @include media-breakpoint-up('md') {
    margin-left: - $sm-sidebar;
  }
}

.sidebar-menu {
  width: $sm-sidebar;
}
