//
// list component for sidebar skeleton
//

.list {
  width: $sm-width;
  @include font-size($font-size);

  &-item {
    padding: 0;
    margin-top: rem(10);
    line-height: rem(36);
  }

  &-title {
    margin-bottom: 0;
    margin-left: rem(17);
    font-weight: 600;
    @include font-size($font-size-sm);
  }

  &-hidden {
    display: none;
    overflow: hidden;
  }

  &-link {
    display: block;
    padding: 0 rem(10) 0 rem(19);
    @include hover {
      text-decoration: none;

      .fas {
        transform: rotate(360deg);
        transition: 0.5s all;
      }
    }
  }

  &-icon {
    width: rem(25);
    display: inline-block;
  }
}

// arrow icon up and down in menu
.link-arrow:before {
  font-family: $font-awesome;
  font-weight: 900;
  margin-right: rem(3);
  float: right;
}

.link-arrow.up:before {
  content: "\f106";
}

.link-arrow.down:before {
  content: "\f107";
}

.link-arrow.transition:before {
  transition: 0.2s all;
}

.link-arrow.rotate:before {
  transform: rotate(180deg);
}

.link-arrow.rotate-revert:before {
  transform: rotate(-180deg);
}
