//
// scrollbar component for list
//

.scrollbar {
  width: $sm-width;
  height: rem(500);
  position: relative;
  overflow: hidden;
  @include media-breakpoint-up('md') {
    height: rem(800);
  }
}

// customize
.ps__rail-y {
  margin-top: rem(1);
}

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus .ps__thumb-y,
.ps__rail-y:hover .ps__thumb-y,
.ps__thumb-y {
  width: $sm-scrollbar;
}
