//
// theme default
//

@each $theme, $map in $theme-colors {

  .sidebar-#{$theme} {
    background-color: map-get($map, sidebar-bg);
  }

  // color text
  .sidebar-#{$theme} .list {
    color: map-get($map, list-color);
  }

  // hyperlinks
  .sidebar-#{$theme} .list-link {
    color: map-get($map, list-link);
  }

  .sidebar-#{$theme} .list-link:hover {
    background-color: map-get($map, list-link-hover);
  }

  .sidebar-#{$theme} .link-current,
  .sidebar-#{$theme} .link-current.list-link:hover {
    background-color: map-get($map, list-link-current);
  }

  .sidebar-#{$theme} .link-current.list-link .fa {
    opacity: 1.0;
  }

  // hidden list
  .sidebar-#{$theme} .list-hidden {
    background-color: map-get($map, list-hidden);
  }

  .sidebar-#{$theme} .list-hidden .list-link {
    color: map-get($map, list-hidden-color);
  }

  .sidebar-#{$theme} .list-hidden .link-current.list-link {
    color: map-get($map, list-link-color);
  }

  .sidebar-#{$theme} .list-hidden .list-link:hover {
    background-color: map-get($map, list-hidden-hover);
  }

  .sidebar-#{$theme} .list-hidden .link-current,
  .sidebar-#{$theme} .list-hidden .link-current.list-link:hover {
    background-color: map-get($map, list-hidden-curent);
  }

  // icons
  .sidebar-#{$theme} .link-arrow:before,
  .sidebar-#{$theme} .list-link .fa {
    opacity: 0.3;
  }

  .sidebar-#{$theme} .link-arrow.active:before,
  .sidebar-#{$theme} .list-link:hover .fa {
    opacity: 1.0;
  }

  // scrollbar
  .sidebar-#{$theme} .ps__rail-y.ps--clicking .ps__thumb-y,
  .sidebar-#{$theme} .ps__rail-y:focus .ps__thumb-y,
  .sidebar-#{$theme} .ps__rail-y:hover .ps__thumb-y,
  .sidebar-#{$theme} .ps__thumb-y {
    background-color: map-get($map, scrollbar-bg);
  }

  .ps .ps__rail-y.ps--clicking,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-y:hover {
    background: none;
  }

}
