//
// theme default
//

@use "sass:map";
@use "colors" as color;

@each $theme, $map in color.$themes {

  [data-sidebar-theme="#{$theme}"] {
	--sm-list-color: #{map.get($map, list-color)};
	--sm-link-color: #{map.get($map, link-color)};
	--sm-link-hover: #{map.get($map, link-hover)};
	--sm-link-current: #{map.get($map, link-current)};
	--sm-hide-bg: #{map.get($map, hide-bg)};
	--sm-hide-color: #{map.get($map, hide-color)};
	--sm-hide-hover: #{map.get($map, hide-hover)};
	--sm-hide-current: #{map.get($map, hide-current)};
	--sm-icon-color: #{map.get($map, icon-color)};
	--sm-icon-hover: #{map.get($map, icon-hover)};
	--sm-icon-current: #{map.get($map, icon-current)};
	--sm-arrow-color: #{map.get($map, arrow-color)};
	--sm-arrow-hover: #{map.get($map, arrow-hover)};
	--sm-arrow-current: #{map.get($map, arrow-current)};
	--sm-scrollbar-bg: #{map.get($map, scrollbar-bg)};
  }
}

.list {
  color: var(--sm-list-color);
}

.list .list-link {
  color: var(--sm-link-color);
}

.list .list-link:hover {
  color: var(--sm-link-hover);
}

.list .link-current,
.list .link-current:hover {
  color: var(--sm-link-current);
}

.list .list-hidden {
  background-color: var(--sm-hide-bg);
}

.list .list-hidden .list-link {
  color: var(--sm-hide-color);
}

.list .list-hidden .list-link:hover {
  color: var(--sm-hide-hover);
}

.list .list-hidden .link-current,
.list .list-hidden .link-current:hover {
  color: var(--sm-hide-current);
}

.list .list-link .list-icon {
  color: var(--sm-icon-color);
}

.list .list-link:hover .list-icon {
  color: var(--sm-icon-hover);
}

.list .list-link.link-current .list-icon,
.list .list-link.link-current:hover .list-icon {
  color: var(--sm-icon-current);
}

.list .link-arrow:before {
  color: var(--sm-arrow-color);
}

.list .link-arrow:hover:before {
  color: var(--sm-arrow-hover);
}

.list .link-arrow.link-current:before,
.list .link-arrow.link-current:hover:before {
  color: var(--sm-arrow-current);
}

.sidebar-user {
  background-color: var(--sm-hide-bg);
}

.sidebar-user .sidebar-user-link {
  color: var(--sm-link-color);
}

.sidebar-user .sidebar-user-link:hover {
  color: var(--sm-link-hover);
}

.ps .ps__rail-y.ps--clicking .ps__thumb-y,
.ps .ps__rail-y:focus .ps__thumb-y,
.ps .ps__rail-y:hover .ps__thumb-y,
.ps .ps__thumb-y {
  background-color: var(--sm-scrollbar-bg);
}

.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
  background: none;
}
